/* General */
body{
    background-color: #161c26 !important;
}

/* TEXT */

h1 {
    font-family: 'Roboto', sans-serif !important;
    color: white;
    font-size: 48px !important;
    font-weight: 700 !important;
    letter-spacing: 0.3em !important;
    margin-right: -0.3em !important;
    text-align: right;
}

h3 {
    font-family: 'Roboto', sans-serif !important;
    color: white;
    font-size: 36px !important;
    font-weight: 400 !important;
    letter-spacing: 0.2em !important;
    margin-bottom: 30px;
    margin-right: -0.2em !important;
    text-align: right;
}

h3.cursive {
    font-family: 'Sacramento', cursive !important;
    font-weight: 700 !important;
}

em {
    color: #ff6666;
}

b {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    text-align: right;
}

p,
form,
.yipnode text {
    font-family: 'Roboto', sans-serif; 
    color: #8293b6 !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    text-align: left;
}

p.caption {
    color: white;
    font-size: 8px;
    font-weight: 300;
    text-align: left;
}

a.hyprtxt {
    color: #ff6666;
    font-weight: 700;
}

#responsive-image {
    width: 90%;
    height: auto;
}

/* IMAGES */

img.icon {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* DIVS + FORMAT STUFF */

.short{
    margin: 50px 30vw 50px 30vw;
}

.shortish{
    margin: 50px 20vw 50px 20vw;
}
div.section {
    padding-left: 100px;
    padding-right: 100px;
}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    background: #8293b6;
}

.parallax {
    background-image: url("/img/bokeh.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* TREE */
.yipnode circle {
    fill: #8293b6;
    stroke: none;
}

.yiplink {
    fill: none;
    stroke: #8293b6;
    stroke-width: 1px;
    opacity: 30%;
}

/* CONTAINER */

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.containera {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.BeforeScroll
{
    height: 100px; /*Whatever you want*/
    width: 100%; /*Whatever you want*/
    display: none;
}


/*Use this class when you want your content to be shown after some scroll*/
.AfterScroll
{
    height: 100px; /*Whatever you want*/
    width: 100%; /*Whatever you want*/
    display: block;
}

/*the section changes the styles of scroll sections.*/

.step {
    padding-top: 100px;
    text-align: left;
    width: 250px;
    margin-left: 750px;
}