/* General */
body{
    background-color: #161c26
}



/* TEXT */

h1.bigtext {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
}

h3.cursive {
    font-family: 'Sacramento', cursive;
    color: white;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-right: -0.2em;
}

p {
    font-family: 'Roboto', sans-serif;  
    
}

em {
    color: #ff6666;
}

b {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    text-align: right;
}

p.smalltext,
label {
    color: #8293b6;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

p.caption {
    color: white;
    font-size: 8px;
    font-weight: 300;
    text-align: left;
}

a.hyprtxt {
    color: #ff6666;
    font-weight: 700;
}

#responsive-image {
    width: 90%;
    height: auto;
}

/* IMAGES */

img.icon {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* DIVS + FORMAT STUFF */

div.section {
    padding-left: 100px;
    padding-right: 100px;
}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    background: #8293b6;
}

.parallax {
    background-image: url("/img/bokeh.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* CONTAINER */

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.containera {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.BeforeScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  .
  .
  display: none;
}


/*Use this class when you want your content to be shown after some scroll*/
.AfterScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  .
  .
  display: block;
}

.form {
    &__group {
        width: 25%;
        height: 85px;
        border-radius: 10px;
        margin: 200px auto;
    }
    &__radio-group {
        width: 30%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        cursor: pointer;
        position: relative;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 3px solid #ffecbc;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        &::after {
            content: "";
            display: block;
            height: 1.7rem;
            width: 1.7rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffe39e;
            opacity: 0;
            transition: opacity .5s;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
}



/*the section changes the styles of scroll sections.*/
#scroll {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 1000px;
    top: 0px;
    z-index: 0;
    /*scroll-snap-type: y mandatory;*/
    margin-bottom: 1000px;
    scroll-snap-type: y proximity;
}


.step {
    margin-bottom: 200px;
    position: relative;
    color: #8293b6;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    width: 250px;
    top: 20px;
}

#scrollb {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    text-align: left;
    width: 250px;
    top: 60px;
}


#vis {
    display: inline-block;
    position: relative;
    top: -600px;
    left: 800px;
    margin-left: 0;
    height: 600px;
    width: 600px;
    background-color: #ddd;
}
